/* EventMap.css */
.event-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  padding-bottom: 30px;
  width: 60%;
}

.map-sidebar {
  position: fixed;
  top: 0;
  right: -40%; /* 사이드바가 숨겨진 상태 */
  width: 40%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  z-index: 2000; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map-sidebar.open {
  right: 0; /* 사이드바가 열린 상태 */
}


.map-sidebar-hr {
  position: relative;
  border: none;
  border-top: 1px solid  #FF9100;
  background-color: white;
  font:24px sans-serif;    
  text-align:center;
  padding:10px 0 0;
}
.map-sidebar-hr::before {
  position: relative;
  top:-10px;
  color:#FF9100;
  content: "༺⁜࿇⁜༻";
}
.map-sidebar-text{
  color:#FF9100;
}
.map-sidebar-border{
  border-color:#FF9100;
}

.map-sidebar-detail-button {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 5%;
  width: 100%;
  background-color: lightblue;
  text-align: center;
  z-index: 2500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.map-sidebar-detail-button:hover {
  background-color: darkblue; 
  color: white; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}
